.classname {
  background-image: -webkit-linear-gradient(rgba(0,0,0,1), #020202);
  color: #000000;
}
/* This is a comment with #000000 in it */
#crazy {
  color: black;
  /* a named color! */
  background-color: rebeccapurple;
}
#crazier {
  background-color: rgb(0,0,0);
  color: rgba(0,0,0,1);
}
#insane {
  background-color: hsl(0,0,0);
  color: hsla(0,0,0,1);
}
#remarkable {
  background-color: #010101;
  color: #FFF;
}

/* Things that have broken in the past */

.glyphicon {
  -moz-osx-font-smoothing: grayscale;
}

.weird-behavior {
  behavior: url(#default#VML);
}
